@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Page Not Found</title>
</head>
<body>
  <h1>Not Found</h1>
  <p>
    404 - Page not found.
  </p>
  <p style="margin-top:5em">
    <a href="http://www.aipp.com.au/"><img src="http://www.aipp.com.au/App_Themes/AIPP_Austin/images/AIPP_logo.jpg" alt="" /></a>
  </p>
</body>
</html>
